<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu">  Orange Inn</ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <div class="fixed-content" style="margin-top: 64px;" *ngIf="auth.getAuthentication()">welcome to Orange Dashbord</div>
    <div style="margin-top: 64px;" *ngIf="!auth.getAuthentication()">

        <ion-row class="row">
            <ion-col class="col">
                <ion-icon color="primary" style="zoom:5.0;" name="ionic"></ion-icon><label>Rates/Availability</label></ion-col>
            <ion-col class="col">
                <ion-icon name="logo-angular" style="zoom:5.0;" color="primary"></ion-icon><label>Booking</label></ion-col>
        </ion-row>
        <ion-row class="row">
            <ion-col class="col">
                <ion-icon color="danger" style="zoom:5.0;" name="heart"></ion-icon><label>Stop Sell</label></ion-col>
            <ion-col class="col">
                <ion-icon name="logo-angular" style="zoom:5.0;" color="primary"></ion-icon><label>Bulk Update</label></ion-col>
            <!-- <ion-col class="col"><ion-icon color="danger" style="zoom:5.0;" name="heart"></ion-icon><label>Pay </label></ion-col> -->
            <!-- <ion-col class="col"><ion-icon color="primary" style="zoom:5.0;" name="ionitron"></ion-icon><label>Flash</label></ion-col> -->
        </ion-row>
        <ion-row class="row">
            <ion-col class="col">
                <ion-icon color="vibrant" style="zoom:5.0;" name="happy"></ion-icon><label>Images</label></ion-col>
            <ion-col class="col">
                <ion-icon name="people" style="zoom:5.0;"></ion-icon><label>Preview</label></ion-col>

        </ion-row>

    </div>

</ion-content>